nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #111;
}
nav #active {
    background-color: #00905b
}
section {
    margin: auto 100px auto 100px
}
article {
    margin-right: 400px;
    float: left;
}
aside {
    float: right;
}