body {
    background-color: rgb(173, 217, 230);
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li.menu {
    float: left;
}
  
li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: normal;
}
  
li.menu a:hover:not(.active) {
    background-color: #111;
}
  
a.active {
    background-color: #00905b;
}

h1, h2 {
    text-align: center;
    font-family: Georgia;
}

li {
    font-style: italic;
}

#green {
    background-color: lightgreen;
    padding: 1rem;
    border-style: solid;
    border-color: white;
    border-width: 1rem;
}

#yellow {
    background-color: yellow;
    padding: 1rem;
    border-style: solid;
    border-color: black;
    border-width: 1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    background-color: white;
    
}

.row {
    background-color: darkblue;
    color: white;
}

td {
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;    
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
}