body {
    background-color: rgb(255, 239, 220);
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

h1 {
    font-family: Lato;
    background-color: #333;
    color: #00905b;
    font-weight: bold;
}

h2 {
    border-style: solid;
}

h3 {
    font-style: italic;
}

h1, h2, h3 {
    text-align: center; 
}

ol.center, ul.center {
   text-align: center;
   list-style-position: inside;
}

p {
    text-align: center;
    font-family: Georgia;
}

a {
    color: black;
}

footer {
    font-size: 0.8rem;
    text-align: center;
}